.goods__section {
  background: blanchedalmond;
  display: flex;
  justify-content: flex-start;
  gap: 35px;
  align-items: center;
  flex-direction: column;
}

div h1 {
  text-align: center;
  padding: 50px 0;
  background: blanchedalmond;
}
